@import '../../styles/mixins';

.home-read-robots-txt {
  margin: 20;
  
  .read-robotstxt-form {
    margin: 4%;
    
    .read-robotstxt-buttons {
      margin: 2%;
      margin-top: 4%;  // give some space from form input
    }  
  }  
}

