@import '../../styles/mixins';

.home-read-robots-txt {
  padding: 4em;

  .card {
    padding: 2em;
  }
  
  .allow {
    color: green;
  }

  .disallow {
    color: red;
  }

  .sitemap {
    color: blue;
  }

  .comment {
    color: grey;
  }
}

